{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% include 'polls/header.html' %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
         {% if previous_vote and previous_vote.choice.id == choice.id %} checked {% endif %}>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<a href="{% url 'polls:results' question.id %}" role="button" class="btn btn-outline-light">Results</a>
<a href="{% url 'polls:index'%}" role="button" class="btn btn-outline-light">Back to List of Polls</a>