{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

<title>KU Polls</title>

<body class="bg-black bg-gradient">
{% include 'polls/header.html' %}

{% if messages %}
<ul class="messages mb-0">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 style="background-color: salmon; display: inline-block;"> {{ message }} </h5></div>
    {% endfor %}
</ul>
{% endif %}

<div class="container mt-5 px-2">

    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="position-relative">
            <form method="GET" action="{% url 'polls:index' %}" class="d-flex align-items-center">
                <input
                    class="form-control w-100"
                    type="text"
                    name="q"
                    placeholder="Search by question..."
                    value="{{ query }}"
                >
                <button type="submit" class="btn btn-link text-light p-0 ms-2">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="table-responsive">
    <table class="table table-responsive table-borderless table-dark table-hover">
      <thead>
        <tr class="bg-light">
            <th scope="col" width="5%">#</th>
            <th scope="col" width="35%">Question</th>
            <th scope="col" width="20%">Open</th>
            <th scope="col" width="20%">Close</th>
            <th scope="col" width="10%">Status</th>
            <th scope="col" width="10%">Results</th>
        </tr>
      </thead>
      <tbody>
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                    <td>{{ question.pub_date }}</td>
                    <td>{{ question.end_date }}</td>
                    <td>
                        {% if question.can_vote %}
                            <img src="../../static/polls/images/checked.png" alt="checked" width="16px">
                        {% else %}
                            <img src="../../static/polls/images/remove.png" alt="remove" width="16px">
                        {% endif %}
                    </td>
                    <td><a href="{% url 'polls:results' question.id %}">Result</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row">#</th>
                <td>No polls are available.</td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</body>
