{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<html>
<title>Login</title>
<body>
<div class="d-flex flex-column justify-content-center align-items-center gap-3 vh-100">
  <div class="bg-dark p-4 rounded-3">
    <h2 class="text-center pb-1">Login</h2>
    <form method="post" class="d-flex flex-column justify-content-center gap-3">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <div class="d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'signup' %}" id="spec-a">Sign Up?</a>
      </div>
      <input type="hidden" name="next" value="{{next}}"/>
     </form>
  </div>
</div>
</body>
</html>

